header{
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: aqua;
    align-items: center;
}
li{
    list-style: none;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    align-items: center;
}
.btn-login{
    background-color: yellowgreen;
    padding: 15px;
    width: 60px;
    display: inline-block;
    border-radius: 5px;
}